<!DOCTYPE html>
<html>
<head>
    <style>
        div.a {
            text-align: center;
        }

        div.b {
            text-align: center;
        }

        div.c {
            text-align: center;
        }

        .btn {
            border: 2px solid black;
            border-radius: 5px;
            background-color: white;
            color: black;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
        }

        /* Green */
        .success {
            border-color: #4CAF50;
            color: green;
        }

        .success:hover {
            background-color: #4CAF50;
            color: white;
        }

    </style>

</head>
<body>
<div class="a">
    <h1>Product has been insereted successfully</h1>
</div>

<div class="b">
    <h2>Insert new Product ?</h2>
</div>

<div class="c">
    <button onclick="location.href='/stationary'" class="btn success">Click</button>
</div>


</body>
</html>




